.addUserCtr {
    width: 400px;
    margin-top: 50px;
    margin: 45px auto;
}

.addUserRow {
    border:1px solid black;
    padding: 10px;
}

.addUserBtnCtr {
    width: 100%;
    text-align: right;
}
